SnoozePeriodAfterAlerting=01:00:00
SMTP__Host=smtp.sendgrid.net
SMTP__Port=587
SMTP__Ssl=false
SMTP__User=apikey
SMTP__Password={your_password}
SMTP__Sender={your_sending_email}
SMTP__NotificationAddresses__0={address_to_alert}